openai
requests
streamlit
cassandra-driver
langchain-astradb
python-dotenv
sentence-transformers
pypdf
python-docx
langchain-core
langchain
uuid
aiohttp
python-multipart
typing-extensions
torch
transformers
langchain-community
astrapy
pdfminer.six
tenacity
PyPDF2